{% extends "index.html" %}
{% load bootstrap3 %}
{% block nav %}
    <li>
        <a href="/product/list/">
            <i class="fa fa-dashboard"></i> <span>产品</span>
        </a>
    </li>
    <li class="active">
        <a href="/order/list/">
            <i class="fa fa-gavel"></i> <span>订单</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fa fa-globe"></i> <span>Basic Elements</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fa fa-glass"></i> <span>Simple tables</span>
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="panel">
        <header class="panel-heading">
            订单<a href="/order/create/" style="float: right">添加</a>
        </header>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>产品ID</th>
                    <th>用户ID</th>
                    <th>额度</th>
                    <th>期限</th>
                    <th>利率</th>
                    <th>费用</th>
                    <th>状态</th>
                </tr>
                {% for order in order_list %}
                    <tr>
                        <td><a href="{{ order.get_absolute_url }}">{{ order.order_id }}</a></td>
                        <td>{{ order.product_id }}</td>
                        <td>{{ order.user_id }}</td>
                        <td>{{ order.order_limit | default_if_none:""}}</td>
                        <td>{{ order.order_term | default_if_none:""}}</td>
                        <td>{{ order.order_interest | default_if_none:""}}</td>
                        <td>{{ order.order_fee_sum | default_if_none:""}}</td>
                        <td>{{ order.order_status | default_if_none:""}}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="table-foot">
                <div align="right">
                    {% bootstrap_pagination page_obj url=request.path extra=extra_url_param size="small" %}
                 </div>
            </div>
        </div><!-- /.panel-body -->

    </div>
{% endblock %}