{% extends "index.html" %}
{% block nav %}
    <li >
        <a href="/product/list/">
            <i class="fa fa-dashboard"></i> <span>产品</span>
        </a>
    </li >
    <li class="active">
        <a href="/order/list/">
            <i class="fa fa-gavel"></i> <span>订单</span>
        </a>
    </li>

    <li>
        <a href="basic_form.html">
            <i class="fa fa-globe"></i> <span>Basic Elements</span>
        </a>
    </li>

    <li>
        <a href="simple.html">
            <i class="fa fa-glass"></i> <span>Simple tables</span>
        </a>
    </li>
{% endblock %}
{% block content %}
        <div class="panel">
        <header class="panel-heading">
            {{ order.order_id }}
        </header>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">用户ID</th>
                    <td>{{ order.order_id }} </td>
                    <th scope="row">产品ID</th>
                    <td><a href="/product/{{ order.product_id }}/detail/">{{ order.product_id }}</a></td>
                </tr>
                <tr>
                    <th scope="row">额度</th>
                    <td> {{ order.order_limit }} </td>
                    <th scope="row">利率</th>
                    <td>{{ order.order_interest }}</td>
                </tr>
                <tr>
                    <th scope="row">费用</th>
                    <td> {{ order.order_fee_sum }} </td>
                    <th scope="row">放款金额</th>
                    <td>{{ order.order_actual_money }}</td>
                </tr>
                <tr>
                    <th scope="row">还款金额</th>
                    <td> {{ order.order_repay_money }}</td>
                    <th scope="row">审核时间</th>
                    <td>{{ order.order_approval_time }}</td>
                </tr>
                <tr>
                    <th scope="row">还款时间</th>
                    <td>{{ order.order_lend_time }} </td>
                    <th scope="row">预约还款时间</th>
                    <td>{{ order.order_appointment_repay_time }}</td>
                </tr>
                <tr>
                    <th scope="row">实际还款时间</th>
                    <td>{{ order.order_actual_repay_time}} </td>
                    <th scope="row">订单状态</th>
                    <td>{{ order.order_status }}</td>
                </tr>
                <tr>
                    <th scope="row">绑卡状态</th>
                    <td>{{ order.bind_card_status}} </td>
                    <th scope="row">周期</th>
                    <td>{{ order.order_term }}</td>
                </tr>
            </table>
        <div class="table-foot" style="float:right;">
            <a href="{{ order.get_update_url }}"><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                更新
            </button></a>
        </div>
        </div>
    </div>
{% endblock %}
