{% extends "index.html" %}
{% block nav %}
    <li class="active">
        <a href="/product/list/">
            <i class="fa fa-dashboard"></i> <span>产品</span>
        </a>
    </li>
    <li>
        <a href="/order/list/">
            <i class="fa fa-gavel"></i> <span>订单</span>
        </a>
    </li>

    <li>
        <a href="basic_form.html">
            <i class="fa fa-globe"></i> <span>Basic Elements</span>
        </a>
    </li>

    <li>
        <a href="simple.html">
            <i class="fa fa-glass"></i> <span>Simple tables</span>
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="panel">
        <header class="panel-heading">
            {{ product.product_id }}
        </header>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">名称</th>
                    <td>{{ product.product_name }} </td>
                    <th scope="row">Logo</th>
                    <td>{{ product.prodcut_logo }}</td>
                </tr>
                <tr>
                    <th scope="row">额度描述</th>
                    <td> {{ product.product_limit_desc }} </td>
                    <th scope="row">额度单元</th>
                    <td>{{ product.product_limit_unit }}</td>
                </tr>
                <tr>
                    <th scope="row">额度增长单位</th>
                    <td> {{ product.product_limit_size }} </td>
                    <th scope="row">方款速度描述</th>
                    <td>{{ product.product_speed_desc }}</td>
                </tr>
                <tr>
                    <th scope="row">周期描述</th>
                    <td> {{ product.product_term_desc }}</td>
                    <th scope="row">周期单元</th>
                    <td>{{ product.product_term_unit }}</td>
                </tr>
                <tr>
                    <th scope="row">周期增长单位</th>
                    <td>{{ product.product_term_size }} </td>
                    <th scope="row">利率描述</th>
                    <td>{{ product.product_interest_desc }}</td>
                </tr>
                <tr>
                    <th scope="row">广告描述</th>
                    <td>{{ product.product_ads_desc}} </td>
                    <th scope="row">活动描述</th>
                    <td>{{ product.product_ads_desc }}</td>
                </tr>
                <tr>
                    <th scope="row">绑卡H5</th>
                    <td>{{ product.bind_card_url}} </td>
                    <th scope="row">还款H5</th>
                    <td>{{ product.repay_url }}</td>
                </tr>
                <tr>
                    <th scope="row">状态</th>
                    <td>{{ product.status}} </td>
                    <th scope="row">创建时间</th>
                    <td>{{ product.create_time }}</td>
                </tr>
            </table>
        <div class="table-foot" style="float:right;">
            <a href="{{ product.get_update_url }}"><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                更新
            </button></a>
        </div>
        </div>
    </div>


{% endblock %}
